<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net452" />
  <package id="PixelLab.BOT" version="6.0.2" targetFramework="net452" />
  <package id="PixelLab.Common" version="6.0.2" targetFramework="net452" />
  <package id="PixelLab.Core" version="6.0.2" targetFramework="net452" />
  <package id="Prism" version="4.1.0.0" targetFramework="net452" />
</packages>